<div class="container">
    <h2>Dodaj swoją dostępność</h2>
    <form action="{{ url_for('add_availability') }}" method="post">
        {{ form.hidden_tag() }}
        <table class="table">
            <thead>
                <tr>
                    <th>Godzina</th>
                    {% for day in form.days %}
                    <th>{{ day }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for row in availability_data %}
                <tr>
                    <td>{{ row[0] }}:00-{{ row[0] + 1 }}:00</td>
                    {% for cell in row[1:] %}
                    <td>
                        <input type="checkbox" id="{{ cell.id }}" name="{{ cell.id }}" onclick="toggleCellColor(this);" {{ 'checked' if cell.data else '' }}>
                    </td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="form-group">
            {{ form.submit(class_="btn btn-primary") }}
        </div>
    </form>
</div>

<script>
    function toggleCellColor(checkboxElem) {
        if (checkboxElem.checked) {
            checkboxElem.parentElement.style.backgroundColor = "green";
        } else {
            checkboxElem.parentElement.style.backgroundColor = "";
        }
    }
</script>

