{% include "header.html" %}
<body class="custom-background">
<div class="px-4 py-5 my-5 text-center" >
  <!-- the main text on page -->
</div>
<div class="d-flex bd-highlight px-2">
  <div class="p-2 flex-grow-1 bd-highlight"> <div class="p-2 bd-highlight"><div class="p-2 flex-fill bd-highlight"><h1 class="display-1 text-body-emphasis container " >Korepetycje Online?</h1></div></div>
</div>
  <div class="p-2 bd-highlight"><div class="p-2 bd-highlight"><div class="circle circle-lg bg-secondary custom-shape">
    <small><div class="PageBackToWork class="custom-background"">
      <span id="hero-it-text" class="PageBackToWork-heading-itText"></span>
      <h1 id="hero-rotating-text" class="PageBackToWork-heading">
      <span class="PageBackToWork-heading-rotationTextContainer">
        <span data-hero-rotating-text class="PageBackToWork-heading-rotationText">Egzamin</span>
        <span data-hero-rotating-text class="PageBackToWork-heading-rotationText is-hidden is-inactive">Matura</span>
        <span data-hero-rotating-text class="PageBackToWork-heading-rotationText is-hidden is-inactive">Sprawdzian</span>
        <span data-hero-rotating-text class="PageBackToWork-heading-rotationText is-hidden is-inactive">Kolokwium</span>
        <span data-hero-rotating-text class="PageBackToWork-heading-rotationText is-hidden is-inactive">Kartkówka</span>
        <span data-hero-rotating-text class="PageBackToWork-heading-rotationText is-hidden is-inactive">Egzamin</span>
        <span data-hero-rotating-text class="PageBackToWork-heading-rotationText is-hidden is-inactive">Konkursy</span>
        <span data-hero-rotating-text class="PageBackToWork-heading-rotationText is-hidden is-inactive">Olimpiady</span>
      </span>
    </div></small>
  </div></div>
</div>
  <!-- text that need to be added but not now -->
  <!-- <section class="hidden"></sectionclass><h3>Nowy poziom korepetycji</h3></section>

    <section class="hidden">
      <h3>System w którym to korepetytor wyszkuje swojego ucznia!</h3>
    </section> -->
    <meta charset="UTF-8" />
    <title>Hover Liquid Button</title>
    <script src="scripts/index.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
