{% include "header.html" %}
<body class="custom-background">

    <div class="container">
      <div class ="row">
        <div class = "col-4">
          <h1 class="display-1 text-body-emphasis container " >
            Korepetycje Online?
          </h1>
          <div class = 'row'>
            <div class = "col-6">
              <svg class="liquid-button"
              data-text="Jestem korepetyrtorem"
              data-force-factor="0.1"
              data-layer-1-viscosity="0.5"
              data-layer-2-viscosity="0.4"
              data-layer-1-mouse-force="400"
              data-layer-2-mouse-force="500"
              data-layer-1-force-limit="1"
              data-layer-2-force-limit="2"
              data-color1="#9340FF"
              data-color2="#FF3C5F"
              data-color3="#FF3C5F">
              </svg>
            </div>
            <div class = "col-
            <div class = "col-6">
              <svg class="liquid-button"
              data-text="Jestem uczniem"
              data-force-factor="0.1"
              data-layer-1-viscosity="0.5"
              data-layer-2-viscosity="0.4"
              data-layer-1-mouse-force="400"
              data-layer-2-mouse-force="500"
              data-layer-1-force-limit="1"
              data-layer-2-force-limit="2"
              data-color1="#9340FF"
              data-color2="#FF3C5F"
              data-color3="#FF3C5F">
              </svg>
            </div>
          </div>
        </div>
        <div class = "col-8">        <div class="p-2 bd-highlight">
          <div class="circle circle-lg bg-secondary custom-shape">
          <small><div class="PageBackToWork class="custom-background"">
            <span id="hero-it-text" class="PageBackToWork-heading-itText">
            </span>
      
      
            <!-- text appearing in circle -->
            <h2 id="hero-rotating-text" class="PageBackToWork-heading">
            <span class="PageBackToWork-heading-rotationTextContainer">
              <span data-hero-rotating-text class="PageBackToWork-heading-rotationText is-hidden is-inactive">Matura</span>
              <span data-hero-rotating-text class="PageBackToWork-heading-rotationText is-hidden is-inactive">Sprawdzian</span>
              <span data-hero-rotating-text class="PageBackToWork-heading-rotationText is-hidden is-inactive">Kolokwium</span>
              <span data-hero-rotating-text class="PageBackToWork-heading-rotationText is-hidden is-inactive">Kartkówka</span>
              <span data-hero-rotating-text class="PageBackToWork-heading-rotationText is-hidden is-inactive">Egzamin</span>
              <span data-hero-rotating-text class="PageBackToWork-heading-rotationText is-hidden is-inactive">Konkursy</span>
              <span data-hero-rotating-text class="PageBackToWork-heading-rotationText is-hidden is-inactive">Olimpiady</span>
            </span>
          </small> 
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>